//margin & padding
$spacer: 8px;
$sp1: 1 * $spacer;
$sp2: 2 * $spacer;
$sp3: 3 * $spacer;
$sp4: 4 * $spacer;
$sp5: 5 * $spacer;
$sp6: 6 * $spacer;
$sp7: 7 * $spacer;
$sp8: 8 * $spacer;
$sp9: 9 * $spacer;
$sp10: 10 * $spacer;
$sp11: 11 * $spacer;
$sp12: 12 * $spacer;
$sp13: 13 * $spacer;
$sp14: 14 * $spacer;
$sp15: 15 * $spacer;
