* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  color: white;
  background: black;
}
h1 {
  font-size: clamp(24px, 3vw, 36px);
}
h2 {
  font-size: clamp(20px, 2.6vw, 32px);
}
p {
  font-size: clamp(18px, 1.6vw, 20px);
}
